.textField {
  position: relative;
  padding-bottom: 24px;
  input {
    width: 100%;
    padding: 10px 15px;
    border: none;
    background-color: #eee;
    &:focus {
      outline: none;
    }
  }
  &__error {
    position: absolute;
    bottom: 0;
    left: 10px;
    font-size: 12px;
    color: red;
  }
}